VITE_SENTRY_DSN=
VITE_SENTRY_ENV=
VITE_SENTRY_RELEASE=
VITE_LOGROCKET_ID=
LOGROCKET_ID=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
VITE_API_URL=
VITE_APP_VERSION=
VITE_ENABLE_MSW=false
VITE_FEATURE_NEW_UI=false
