@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Prose styles for markdown preview */
.prose {
  color: #171717;
  max-width: 65ch;
}

.prose h1 {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
  font-weight: 600;
}

.prose h2 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
  font-weight: 600;
}

.prose h3 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  font-weight: 600;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.prose strong {
  font-weight: 600;
}

.prose ul, .prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.75;
}

.prose hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: #e5e5e5;
}

.prose code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.875em;
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}